.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 16px;
}

.off {
  width: 280px;
  height: 280px;
  background: url("./assets/img/light-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.on {
  width: 280px;
  height: 280px;
  background: url("./assets/img/light-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
